<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/createstyle.css" />
  </head>
  <body>
    <div class="main">
        <%-include('nav')%>
      <h1>CREATE POSTS</h1>
      <form action="/post/create/<%=userid%>" method="post">
        <input name="title" type="text" placeholder="Post Title" />
        <textarea name="description" placeholder="Description"></textarea>
        <button>Create Post</button>
      </form>
    </div>
  </body>
</html>
